
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" ng-cloak ng-controller="HistoryController">
    <section class="content-header">
        <h3>
            Lịch sử truyền thông
        </h3>
        <div class="box-actions pull-right">
            <ul>
                <li> <button ng-click="openModal()" class="btn btn-info btn-flat pull-right" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-plus"></i> Tạo Mới</button>
                </li>
            </ul>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="box box-info">
                    <div class="box-body no-padding">
                        <div class="col-md-12 col-xs-12">
                            <div class="box-filter-left">
                                <div class="form-group">
                                    <label>Chọn Hình Thức Truyền Thông</label>
                                    <select kendo-drop-down-list
                                            k-option-label="'Chọn Tất Cả'"
                                            k-data-text-field="'Name'"
                                            k-data-value-field="'ID'"
                                            ng-model="searchInfo.HINH_THUC_TRUYEN_THONG"
                                            k-data-source="data.lstHinhThucTruyenThong"
                                            style="width: 100%"></select>

                                </div>
                                <div class="form-group">
                                    <label>Đối Tượng</label>
                                    <select kendo-drop-down-list
                                            k-option-label="'Chọn Tất Cả'"
                                            k-data-text-field="'Name'"
                                            k-data-value-field="'ID'"
                                            ng-model="searchInfo.DOI_TUONG"
                                            k-data-source="data.lstDoiTuongTruyenThong"
                                            style="width: 100%"></select>

                                </div>
                                 
                                <div class="form-group">
                                    <label>Huyện</label>
                                    <select kendo-drop-down-list
                                            k-option-label="'Chọn Tất Cả'"
                                            k-data-text-field="'TENHUYEN'"
                                            k-data-value-field="'HUYEN_ID'"
                                            ng-model="searchInfo.HUYEN_ID"
                                            ng-change="searchAllXa()"
                                            k-data-source="data.lstHuyen"
                                            style="width: 100%"></select>

                                </div>

                                <div class="form-group">
                                    <label>Xã</label>
                                    <select kendo-drop-down-list
                                            k-option-label="'Chọn Tất Cả'"
                                            k-data-text-field="'TENXA'"
                                            k-data-value-field="'XA_ID'"
                                            ng-model="searchInfo.XA_ID"
                                            k-data-source="data.lstXa"
                                            style="width: 100%"></select>
                                </div>

                                <div class="form-group">
                                    <label>Từ Ngày</label>
                                    <div class="input-group">
                                        <input kendo-date-picker
                                               k-ng-model="searchInfo.TU_NGAY"
                                               class="form-control"
                                               k-format="'@CoreVar.sFormatDate'" />
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>Đến Ngày</label>
                                    <div class="input-group">
                                        <input kendo-date-picker
                                               k-ng-model="searchInfo.DEN_NGAY"
                                               class="form-control"
                                               k-format="'@CoreVar.sFormatDate'" />
                                    </div>
                                </div>
                                <div class="box-search" ng-click="searchChienDich()">
                                    <a class="btn btn-primary btn-block"><i class="fa fa-search"></i> Tìm Kiếm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="box box-info">
                    <div class="box-body no-padding">
                        <div class="col-md-12 col-xs-12 table-responsive" id="tableContent">
                            <table class="table table-hover">
                                <tr>
                                    <th>Tên Chiến Dịch</th>
                                    <th>Số Lượng</th>
                                    <th>Vùng</th>
                                    <th>Đối Tượng</th>
                                    <th>Ngày thực hiện</th>
                                    <th>Trạng Thái</th>
                                </tr>

                                <tr ng-repeat="item in data.lstLichSuTruyenThong">
                                    <td>{{item.TEN_CHIEN_DICH}}</td>
                                    <td>{{item.SO_LUONG_THANH_CONG}}/{{item.SO_LUONG}} </td>
                                    <td>{{item.KHU_VUC}}</td>
                                    <td ng-if="item.DOI_TUONG == '1'">Người Dân</td>
                                    <td ng-if="item.DOI_TUONG == '2'">Cán Bộ</td>
                                    <td>{{item.NGAY_THUC_HIEN_SHOW}}</td>
                                    <td>{{item.TEN_TRANG_THAI}}</td>
                                    <td>
                                        <div class="actions">
                                            @*<a ng-click="editChienDich(item.AutoID)" class="btn btn-xs btn-flat" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-edit text-aqua"></i>
                                                </a>*@
                                            <a class="btn btn-xs btn-flat btn-success"  ng-click="editChienDich(item.AutoID)" data-toggle="modal" data-target="#modalConfrim" ng-if="item.TRANG_THAI == '0'">
                                                <i class="fa fa-send-o" style="padding-right:5px;"></i> Gửi
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="width:1200px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="font-weight: bold; text-transform: uppercase;">Tạo Mới Chiến Dịch</h4>
                </div>
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="col-md-3 col-xs-12 border-right">
                            <div class="box-filter-left">
                                <div class="form-group">
                                    <label>Tên chiến dịch</label>
                                    <input class="form-control" ng-model="ChienDichTruyenThongInfo.TEN_CHIEN_DICH" data-placeholder="Tên chiến dịch">
                                </div>
                                <div class="form-group">
                                    <label>Chọn Hình Thức Truyền Thông</label>
                                    <select kendo-drop-down-list
                                            k-data-text-field="'Name'"
                                            k-data-value-field="'ID'"
                                            ng-model="ChienDichTruyenThongInfo.HINH_THUC_TRUYEN_THONG"
                                            k-data-source="data.lstHinhThucTruyenThong"
                                            style="width: 100%"></select>

                                </div>
                                <div class="form-group">
                                    <label>Đối Tượng</label>
                                    <select kendo-drop-down-list
                                            k-data-text-field="'Name'"
                                            k-data-value-field="'ID'"
                                            ng-model="ChienDichTruyenThongInfo.DOI_TUONG"
                                            k-data-source="data.lstDoiTuongTruyenThong"
                                            style="width: 100%"></select>

                                </div>

                                <div class="form-group" ng-if="ChienDichTruyenThongInfo.DOI_TUONG == '2'">
                                    <label>Nhap File</label>
                                    <input name="files"
                                           type="file"
                                           kendo-upload
                                           k-async="{ saveUrl: baseSaveUrl, autoUpload: true }"
                                           k-select="onSelect"
                                           k-error="onError"
                                           k-success="onSuccess"
                                           k-upload="onUpload"
                                           k-multiple="false"
                                           k-showfilelist="false" />
                                </div>


                                <div class="form-group" ng-if="ChienDichTruyenThongInfo.DOI_TUONG == '2'">
                                    <label>So Dien Thoai</label>
                                    <select kendo-multi-select 
                                            k-ng-model="ChienDichTruyenThongInfo.Mobile"
                                            k-data-text-field="'Name'"
                                            k-data-value-field="'ID'" 
                                               k-data-source="data.lstMobile"                                           
                                            style="width: 100%"></select>

                                </div>
                                 
                                <div class="form-group">
                                    <label>Huyện</label>
                                    <select kendo-drop-down-list
                                            k-option-label="'Chọn Tất Cả'"
                                            k-data-text-field="'TENHUYEN'"
                                            k-data-value-field="'HUYEN_ID'"
                                            ng-model="ChienDichTruyenThongInfo.HUYEN_ID"
                                            ng-change="searchAllXa2()"
                                            k-data-source="data.lstHuyen"
                                            style="width: 100%"></select>

                                </div>

                                <div class="form-group">
                                    <label>Xã</label>
                                    <select kendo-drop-down-list
                                            k-option-label="'Chọn Tất Cả'"
                                            k-data-text-field="'TENXA'"
                                            k-data-value-field="'XA_ID'"
                                            ng-model="ChienDichTruyenThongInfo.XA_ID"
                                            k-data-source="data.lstXa2"
                                            style="width: 100%"></select>
                                </div>

                                <div class="form-group">
                                    <label>Số lượng</label>
                                    <input class="form-control" type="number" ng-model="ChienDichTruyenThongInfo.SO_LUONG" data-placeholder="Số lượng">
                                </div>

                                <div class="form-group">
                                    <label>Ngày Thực Hiện</label>
                                    <div class="input-group">
                                        <input kendo-date-picker
                                               k-ng-model="ChienDichTruyenThongInfo.NGAY_THUC_HIEN"
                                               class="form-control"
                                               k-format="'@CoreVar.sFormatDate'" />
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>Thời Gian Thực Hiện</label>
                                    <div class="input-group">
                                        <input kendo-time-picker
                                               ng-model="ChienDichTruyenThongInfo.GIO_THUC_HIEN_OBJ"
                                               k-ng-model="ChienDichTruyenThongInfo.GIO_THUC_HIEN"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            <div class="box box-solid" style="box-shadow:none;">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Soạn thảo nội dung</h3>
                                    <div class="pull-right box-tools">
                                        <label>250 Ký tự</label>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <textarea kendo-editor k-ng-model="ChienDichTruyenThongInfo.NOI_DUNG"></textarea>
                                    <div class="row">
                                        <div class="box-action-footer pull-right">
                                            <button type="button" class="btn btn-primary" ng-click="saveChienDich();" data-dismiss="modal">Lưu</button>

                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalConfrim" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thông Tin</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        Hệ thống sẽ bắt đầu gửi tin nhắn. Bạn có chắc chắn muốn thực hiện điều này ?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="sendChienDich();" data-dismiss="modal">Ok</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

</div>

